SECRET_KEY=your_secret_key
DEBUG=True

DB_NAME=db.sqlite3

EMAIL_HOST_USER=[your_email@gmail.com](mailto:your_email@gmail.com)
EMAIL_HOST_PASSWORD=your_password

ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=30

REDIS_URL=redis://127.0.0.1:6379/1
